* {
	margin: 0;
}

#game {
	margin: 20px auto;
	width: 1600px;
	height: 900px;
	border: 1px solid black;
}

#teamStatusBoard {
	width: 25%;
	height: 900px;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid black;
}

#gameBoard {
	width: 75%;
	height: 900px;
	float: right;
	box-sizing: border-box;
}

.teamStatus {
	border-top: 1px solid black;
}

#gameBoardSvg {
	margin-right: 300px;
}

.small {
	font-size: 8px;
}
