* {
	margin: 0;
}

#game {
	margin: 20px auto;
	width: 1300px;
	height: 900px;
	border: 2px solid black;
}

.small {
	font-size: 8px;
}

.middle {
	font-size: 16px;
	font-weight: bold;
  }

.bird {
	filter: drop-shadow(0px 0px 1.5px red);
}

.hippo {
	filter: drop-shadow(0px 0px 1.5px orange);
}

.dragon {
	filter: drop-shadow(0px 0px 1.5px yellow);
}

.cat {
	filter: drop-shadow(0px 0px 1.5px green);
}

.horse {
	filter: drop-shadow(0px 0px 1.5px blue);
}

.fish {
	filter: drop-shadow(0px 0px 2px purple);
}